* {
    box-sizing: border-box;
    color-scheme: #1b1725 #70798C #F9f9F9 #B87D4B #70AE6E;
    margin: 0;
    padding: 0;
}

div {
    display: block;
}

a {
    text-decoration: none;
    color: #F9F9F9;
}

header {    
    display: flex;
    align-items: center;
    background-color: #70798C;
    width: 100%;
    height: auto;
    padding: 10px;
    color: #F9F9F9;
}

nav {
    padding-top: 15px;
    margin-right: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    float: right;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.avatar { 
    display: flex;
    width: 150px;
    height: auto;
    margin-left: 10px;
    border: #B87D4B solid;
    border-radius: 15%;
}

