/* General styling */
:root {
    --dark: #0e0012;
    --light: #fde7d0;
    --links: #70AE6E;
}

* {
    box-sizing: border-box;
    color-scheme: #1b1725 #70798C #F9f9F9 #B87D4B #70AE6E;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--dark);
    color: var(--light);
}   

h1 {
    font-size: 3rem;
}

/* Header content styling */

header {
    display: flex;
    box-shadow: #70AE6E 0 5px 3em;
    justify-content: space-between;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-shadow: #fde7d0 0 0 .5em;
}

nav a {
    font-size: 36px;
    text-decoration: none;
    padding: 80px;
    color: var(--links);
}

nav ul li {
    display: inline-block;
}

nav a:hover {
    color: #B87D4B;
    transition: 350ms ease-in-out;
}

.avatar {
    width: 150px;
    height: auto;
    border-radius: 1rem;
    box-shadow: #70AE6E 0 0 3em;
}

/* Main content styling */

main {
    border: #70798C solid 1px;
    text-align: center;
    margin: 40px;
    padding-top: 100px;
}

.about {    
    border: #70798C solid 1px;
    margin: 30px;
}

footer {
    display: flex;
    justify-content: center;
    position: fixed;
}

.work {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: #70798C solid 1px;
}

.work h2 {
    margin-left: 80px;
    text-align: center;
    font-size: 2.5rem;
}

.main-card {
    /* border: #70798C solid 1px; */
    border-radius: 1rem;
    width: 800px;
    height: 500px;
    justify-content: flex-end;
    margin: 30px;
    box-shadow: #70AE6E 5px 5px .5em;
    overflow: hidden;
}

.main-card .image {
    display: block;
    background-image: url(https://unsplash.com/photos/6JVlSdgMacE);
    width: auto;
    height: 400px;
    /* border: #70798C solid 10px;  */
}

.main-card h3 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 36px;
    padding-left: 10px;
    width: 800px;
    height: 100px;
    background-color: rgba(112, 174, 110, .40);
}

.main-card:hover {
    box-shadow: #B87D4B 5px 5px .5em;
    transition: 350ms ease-in-out;
}

.sub-cards {
    display: block;
    margin-right: 80px;
}

.sub-card {
    display: block;
    columns: 2;
    width: 400px;
    height: 100px;
    align-items: center;
    border: #70798C solid 1px;
}